{% extends "layout.html" %}

{% block content %}
<h1>Welcome to Home!</h1>


<label>Hotel: </label>
  <select name="hotels"> <!--Supplement an id here instead of using 'name'-->
  {% for item in templateHotels %}
    <option>{{ item.name }}</option>
  {% endfor %}
</select>

<label>Restaurant: </label>
  <select name="restaurants"> <!--Supplement an id here instead of using 'name'-->
  {% for item in templateRestaurants %}
    <option>{{ item.name }}</option>
  {% endfor %}
</select>

<label>Activity: </label>
  <select name="activity"> <!--Supplement an id here instead of using 'name'-->
  {% for item in templateActivities %}
    <option>{{ item.name }}</option>
  {% endfor %}
</select>

{% endblock %}
