@import "normalize";
@import "grid";
@import "navbar";

* {
  box-sizing: border-box;
}



body {
  h1 {
    color: white;
  }
}

.container {
  margin: 0  auto;
  clear: both;
}

.row {
  clear: both;
}
